html,
body {
}

body {
  margin: 0;
  font-size: calc(16px + 0.5vw);
  font-family: 'Quicksand';
  color: #424142;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis';
  font-weight: lighter;
  color: #424142;
}

a {
  text-decoration: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #424142;
}

.leaflet-popup-content-wrapper{
  padding: 6px 0;
}

.leaflet-container a.leaflet-popup-close-button span {
  color: #fff;
  font-size: 1.5rem;
}
